<ion-view view-title="Contact Us"  hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-royal">
  <!--  <div class="buttons"> <button class="button">Left Button</button> </div> -->
    <h1 class="title">Contact Us</h1>
    <!--   <div class="buttons"> <button class="button">Right Button</button> </div> -->
  </ion-header-bar>
  <ion-content class="padding has-header  " overflow-scroll="false">
    This app has been developed for Mr.Rajesh.
    Waterfall development model.
  </ion-content>
</ion-view>
