<ion-view view-title="Contact Us" hide-nav-bar="true">
  <ion-header-bar align-title="center" class="bar-royal">
    <!--  <div class="buttons"> <button class="button">Left Button</button> </div> -->
    <h1 class="title">Contact Us</h1>
    <!--   <div class="buttons"> <button class="button">Right Button</button> </div> -->
  </ion-header-bar>
  <div class="bar bar-subheader ">
  <h2 class="title">Developers</h2>
  </div>
  <ion-content class="has-header has-subheader" >
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/divya.jpg">
        <h2>CH. Divya</h2>
        <p>13A91A0577</p>
      </div>
      <div class="item item-avatar">
        <img src="img/santhosh.jpg">
        <h2>P. Santhosh Kumar</h2>
        <p>13A91A05A8</p>
      </div>
      <div class="item item-avatar">
        <img src="img/kiran.jpg">
        <h2>K. Surya Kiran</h2>
        <p>14A95A0539</p>
      </div>
      <div class="item item-avatar">
        <img src="img/moulika.png">
        <h2>Moulika</h2>
        <p>13A91A0584</p>
      </div>
    </div>
  </ion-content>
</ion-view>
